node_modules/

*.log

*.db
*.sqlite
*.sql

.env

docker-compose.override.yml
*.env
Dockerfile

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.bak
*.swp
*~

*.pem
*.crt
*.key

schema.sql

node_modules
